body {
  background-color: #f6f4fa;
  font-family: "Quicksand", sans-serif;
  width: 100%;
}
header {
  border-bottom: 1px solid #f6f4fa;
  padding: 10px 30px;
}

footer {
  border-top: 1px solid #f6f4fa;
  padding: 10px 30px;
  text-align: center;
  font-size: 12px;
}

a {
  color: #885df1;
  text-decoration: none;
}

h1.weather-city {
  position: relative;
  top: 105px;
  left: -90px;
}
.myweather-app {
  background-color: #ffffff;
  color: #41444b;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 40px rgb(65, 50, 100, 0.08);
  border-radius: 15px;
  border: 1px solid #f6f4fa;
}

.search-form-input {
  background-color: #f6f4fa;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  width: 82%;
  padding: 15px 20px;
}

.search-form-button {
  background-color: #885df1;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

p.detailed-weather {
  position: relative;
  top: -15px;
}

.data-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f6f4fa;
}

.weather-city {
  font-size: 37px;
  line-height: 48px;
  display: block;
}

.detailed-weather {
  font-style: 16px;
  line-height: 20px;
}

.detailed-weather strong {
  color: #885df1;
  font-weight: 700;
}

.weather-metrics {
  display: flex;
}

.temp-degrees {
  font-size: 80px;
}

.temp-degrees {
  position: relative;
  top: 40px;
  left: 50px;
}

.weather-icon {
  font-size: 100px;
  position: relative;
  top: 10px;
  left: 40px;
}

.temp-units {
  font-size: 30px;
  position: relative;
  top: 50px;
  left: 50px;
}

.week-forecast {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  text-align: center;
  margin: 20px;
}
